body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #fafafa;
}

#viewer img,
#viewer video {
  max-width: 90vw;
  max-height: 90vh;
  border: 4px solid #444;
  border-radius: 8px;
}
